<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.0.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 	若要使得事物生效，必须考虑spring mvc 与 spring context的父子容器关系 -->
	<context:component-scan base-package="cn.com.ctbri.ctbigdata.smarteyes">
  		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" /> 
  		<context:exclude-filter type="regex" expression="cn.com.ctbri.smarteyes.utils.*" />
	</context:component-scan>

	<!-- 引入配置文件 -->
	<bean id="configProperties"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true"/>
		<property name="locations">
			<list>
				<value>classpath:mongo.properties</value>
			</list>
		</property>
	</bean>

	<!-- 数据源的配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		  destroy-method="close">
		<property name="driverClassName" value='com.mysql.jdbc.Driver' />
		<property name="url" value="jdbc:mysql://124.127.116.143:3306/smarteyes" />
		<property name="username" value="smarteyes" />
		<property name="password" value="smarteyes123456" />
		<!-- data source configuration -->
		<property name="initialSize" value="10" /><!-- initial connections -->
		<property name="maxActive" value="20" /><!-- MAX connections -->
		<property name="maxIdle" value="20" /><!-- MAX idle connections -->
		<property name="minIdle" value="10" /><!-- MIN idle connections -->
		<!-- 处理mysql 8小时自动断开连接的问题 -->
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="select 1" />
		<property name="timeBetweenEvictionRunsMillis" value="20000" />
		<property name="numTestsPerEvictionRun" value="100" />
	</bean>


	<!--====事务相关控制== -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:advice id="userTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 没有配置只读 -->
			<tx:method name="validate" propagation="REQUIRED"
					   read-only="true" rollback-for="java.lang.Exception" />
			<tx:method name="*" propagation="REQUIRED" read-only="false"
					   rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="pc"
					  expression="execution(* cn.com.ctbri.ctbigdata.smarteyes.*.service..*.*(..))" />
		<!-- 把事务控制在Business层 -->
		<aop:advisor pointcut-ref="pc" advice-ref="userTxAdvice" />
	</aop:config>

	<!-- MyBatis sqlSessionFactory 配置 mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置使Spring采用CGLIB代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<import resource="Spring-mongodb.xml"/>
	<import resource="Spring-redis.xml"/>

</beans>
